@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "PKM";
    src: url("../fonts/PK-Maehongson-Medium.ttf") format("truetype"),
        url(../fonts/PK-Maehongson-Medium.otf") format("opentype");
}

[x-cloak] {
    display: none !important;
}