@tailwind base;
@tailwind components;
@tailwind utilities;

/* PK Maehongson Font */
@font-face {
    font-family: "PKM";
    src: url("../fonts/PK-Maehongson/PK-Maehongson-Medium.otf") format("opentype"),
         url("../fonts/PK-Maehongson/PK-Maehongson-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

/* Noto Sans Thai Font */
@font-face {
    font-family: "NotoSansThai";
    src: url("../fonts/NotoSansThai/NotoSansThai-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* Additional Noto Sans Thai weights */
@font-face {
    font-family: "NotoSansThai";
    src: url("../fonts/NotoSansThai/NotoSansThai-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "NotoSansThai";
    src: url("../fonts/NotoSansThai/NotoSansThai-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

[x-cloak] {
    display: none !important;
}